#hBox {
    -fx-background-color: rgba(0, 100, 100, 0.1);
}

#leftBar {
    -fx-background-color: rgba(0, 100, 100, 0.1);
}

.sideButtons:hover {
    -fx-background-color: #5A2728;
}

.sideButtons {
    -fx-background-radius: 0;
}

.topButtons {
    -fx-background-radius: 0;
}

.buttonsTools {
    -fx-background-radius: 0;
}

.context-menu {
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.context-menu-item:focused {
    -fx-background-color: #6D3437;
}

.progress-bar .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        #5A2728; /* this line is the background color of the bar */
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}


